node_modules
dist
.git
.gitignore
Dockerfile
docker-compose.yml
README.md
GEMINI.md
test
*.log
*.ts
!dist/**/*.ts
*.map
eslint.config.mjs
jest-integration.json
list_files.sh
nest-cli.json
package-lock.json
.prettierrc
.env
